@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #EBECED;
    @apply scroll-smooth;
  }

  body {
    @apply font-mpolis text-white;
  }

  @font-face {
    font-family: 'mpolis';
    src: url('/font/Metropolis.woff') format('woff');
  }
}

@layer components {
  .title-info {
    @apply font-bold text-xl sm:text-3xl sm:text-center capitalize;
  }

  .skeleton {
    @apply bg-white opacity-40 dark:opacity-30 backdrop-blur-[30px];
  }

  .spin-loading {
    border: 4px solid white;
    border-left-color: transparent;
    border-radius: 50%;
    @apply animate-spin aspect-square w-9 mx-auto mt-28 sm:w-12 md:w-9;
  }
}

@layer utilities {
  .grid-align-items-center {
    align-items: center;
  }

  .grid-align-self-item-end {
    align-self: end;
  }
 
  .grid-align-self-item-start {
    align-self: start;
  }

  .no-scrollbar::-webkit-scrollbar {
     width: 0
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    @apply bg-second;
  }
  
  .custom-scrollbar-thumb::-webkit-scrollbar-thumb {
    @apply bg-[#799FC1];
  }

  .top-space {
    @apply top-[228px] sm:top-[315px] md:top-0;
  }
}