@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mpolis text-white;
  }
}

@layer components {
  .title-info {
    @apply font-bold text-xl sm:text-3xl sm:text-center capitalize;
  }
}

@layer utilities {
  .grid-align-items-center {
    align-items: center;
  }

  .no-scrollbar::-webkit-scrollbar {
     width: 0
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    @apply bg-second;
  }
  
  .custom-scrollbar-thumb::-webkit-scrollbar-thumb {
    @apply bg-[#799FC1];
  }
}